# Importamos librerias

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Entender archivos

In [3]:
train_data = pd.read_csv('train.csv')
train_data.head()

,Unnamed: 0,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,456,Cabo Verde,2007,Developing,126.0,0,5.28,345.463714,96.0,0,...,4.30,98.0,0.6,3112.285712,486438.0,8.1,8.0,0.602,11.9,72.3
1,462,Cabo Verde,2001,Developing,152.0,0,3.81,150.743486,92.0,0,...,5.19,9.0,0.8,1268.884564,443716.0,9.4,9.3,0.562,11.0,73.0
2,2172,Saint Lucia,2011,Developing,143.0,0,10.43,0.000000,99.0,0,...,7.58,99.0,0.1,1766.947595,1386542.0,4.3,4.3,0.733,12.9,74.6
3,2667,Tunisia,2013,Developing,13.0,3,1.29,594.645310,98.0,16,...,7.26,98.0,0.1,4199.472530,1114558.0,6.4,6.3,0.720,14.7,74.9
4,381,Brunei Darussalam,2002,Developing,95.0,0,0.13,941.703687,99.0,0,...,3.40,94.0,0.1,16846.219800,1386542.0,6.7,6.1,0.820,13.3,74.8

In [4]:
test_data = pd.read_csv('test.csv')
test_data.head()

,Unnamed: 0,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2546,Syrian Arab Republic,2006,Developing,123.0,8,0.97,122.652333,83.0,517,...,83.0,3.78,8.0,0.1,1762.246170,18914977.0,6.4,6.3,0.636,11.4
1,650,Croatia,2006,Developed,113.0,0,11.83,1555.651986,92.0,1,...,96.0,6.95,96.0,0.1,11363.418450,444.0,1.8,1.8,0.783,13.9
2,1740,Montenegro,2007,Developing,125.0,0,4.98,678.518894,9.0,0,...,92.0,6.74,92.0,0.1,5957.145693,615875.0,2.1,2.2,0.762,13.6
3,177,Bahrain,2014,Developing,7.0,0,1.57,367.255674,98.0,46,...,98.0,4.98,98.0,0.1,24983.379200,1386542.0,6.1,6.0,0.820,14.5
4,1377,Kenya,2000,Developing,428.0,77,1.51,0.681686,92.0,21002,...,8.0,4.68,82.0,18.1,43.979713,3145483.0,9.2,9.1,0.448,8.4

In [5]:
train_data.shape, test_data.shape

((2350, 23), (588, 22))

In [6]:
train_data.info()
# print('-'*80)
# test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2350 entries, 0 to 2349
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       2350 non-null   int64
 1   Country                          2350 non-null   object
 2   Year                             2350 non-null   int64
 3   Status                           2350 non-null   object
 4   Adult Mortality                  2350 non-null   float64
 5   infant deaths                    2350 non-null   int64
 6   Alcohol                          2350 non-null   float64
 7   percentage expenditure           2350 non-null   float64
 8   Hepatitis B                      2350 non-null   float64
 9   Measles                          2350 non-null   int64
 10   BMI                             2350 non-null   float64
 11  under-five deaths                2350 non-null   int64
 12  Polio                            2350 non-null   float64
 13  Total expenditure                2350 non-null   float64
 14  Diphtheria                       2350 non-null   float64
 15   HIV/AIDS                        2350 non-null   float64
 16  GDP                              2350 non-null   float64
 17  Population                       2350 non-null   float64
 18   thinness  1-19 years            2350 non-null   float64
 19   thinness 5-9 years              2350 non-null   float64
 20  Income composition of resources  2350 non-null   float64
 21  Schooling                        2350 non-null   float64
 22  Life expectancy                  2350 non-null   float64
dtypes: float64(16), int64(5), object(2)
memory usage: 422.4+ KB

In [9]:
# # train_data.isna().sum()
# print('-'*80)
# test_data.isna().sum()

In [10]:
train_data.describe()

,Unnamed: 0,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
count,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000,...,2350.000000,2350.000000,2350.000000,2350.000000,2.350000e+03,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000
mean,1477.608085,2007.537447,165.749787,28.793191,4.536911,720.521353,83.170213,2318.703404,38.613574,40.094468,...,5.921921,82.440000,1.787064,6559.900842,9.609107e+06,4.782979,4.820596,0.633644,12.043064,69.286766
std,847.461601,4.611986,125.066557,111.836006,3.902423,1952.616462,22.778758,11589.618520,19.965111,152.939537,...,2.409241,23.736519,5.266324,13256.540660,4.860792e+07,4.381124,4.460068,0.201977,3.254157,9.557714
min,0.000000,2000.000000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.400000,0.000000,...,0.650000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000,36.300000
25%,745.500000,2004.000000,74.000000,0.000000,1.100000,5.491010,83.000000,0.000000,19.600000,0.000000,...,4.372500,78.000000,0.100000,564.088121,3.949550e+05,1.600000,1.600000,0.509000,10.300000,63.300000
50%,1486.500000,2008.000000,144.000000,3.000000,3.755000,65.611455,92.000000,16.000000,43.500000,4.000000,...,5.755000,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000,72.200000
75%,2207.750000,2012.000000,227.000000,20.750000,7.327500,441.534144,96.000000,356.250000,56.100000,26.000000,...,7.340000,97.000000,0.800000,4827.824542,4.671562e+06,7.075000,7.100000,0.773000,14.200000,75.700000
max,2936.000000,2015.000000,723.000000,1800.000000,17.310000,19099.045060,99.000000,212183.000000,87.300000,2500.000000,...,17.240000,99.000000,50.600000,115761.577000,1.293859e+09,27.700000,28.600000,0.948000,20.700000,89.000000

In [11]:
for col in train_data.columns:
    print(f"{col}: {train_data[col].nunique()} valores Ãºnicos")

Unnamed: 0: 2350 valores Ãºnicos
Country: 191 valores Ãºnicos
Year: 16 valores Ãºnicos
Status: 2 valores Ãºnicos
Adult Mortality: 409 valores Ãºnicos
infant deaths: 185 valores Ãºnicos
Alcohol: 989 valores Ãºnicos
percentage expenditure: 1871 valores Ãºnicos
Hepatitis B: 85 valores Ãºnicos
Measles : 797 valores Ãºnicos
 BMI : 584 valores Ãºnicos
under-five deaths : 228 valores Ãºnicos
Polio: 72 valores Ãºnicos
Total expenditure: 772 valores Ãºnicos
Diphtheria : 79 valores Ãºnicos
 HIV/AIDS: 185 valores Ãºnicos
GDP: 2006 valores Ãºnicos
Population: 1830 valores Ãºnicos
 thinness  1-19 years: 194 valores Ãºnicos
 thinness 5-9 years: 199 valores Ãºnicos
Income composition of resources: 602 valores Ãºnicos
Schooling: 167 valores Ãºnicos
Life expectancy : 353 valores Ãºnicos

In [12]:
train_data.duplicated().sum()

0

In [14]:
numeric_columns = train_data.select_dtypes(include=['number'])
numeric_column_names = numeric_columns.columns.tolist()
print("Numeric Column Names:", numeric_column_names)

Numeric Column Names: ['Unnamed: 0', 'Year', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling', 'Life expectancy ']